	@media(min-width: 1100px){
		.show-for-mobile {
			display:none;
		}

		.metadata-container__mobile {
			display:none;
		}
	}


	@media(max-width: 1101px){

		.show-for-mobile {
			display: block;
		}

		.show-for-desktop {
			display: none;
		}

		.main-container {
			display:block;
			position:absolute;
		}

		.left-container {	
			width:100%;
			height: 50%;
			align-items: center;
			position: sticky;

		.intro {
			top:auto;
			width:calc(100% - 20px);
			text-align: center;
			padding-left:0;
			font-size: 2.4rem;
			margin-left:-38px;
			
		}
		}

		.about-container__mobile {
			position: absolute;
			margin: auto;
			padding-bottom:20rem;
			overflow:auto;
			
			.about-copy__mobile {
				margin: auto;
			}
		}

		.right-container {
			width: 100%;
			height: 50%;
			padding-bottom: 20rem;

		.project-title {
			width: 100%;
			margin: auto;
			font-size: 2.4rem;
			margin-bottom: $xs-size;
		}
			
		.project-entry-container {
			margin-left:3rem;
			margin-right:3rem;
		}
		}

		.nav-container {
			background-color: $off-white;
			border-bottom: 2px solid $jz-blue;
			width: 100%;
			text-align: right;
			height: $xl-size;
			z-index: 10;
			top: 0;
			right:0;
			padding-top: $m-size;
			padding-right: $m-size;
		}
		.project-page-container, .snapchat-page-container {
			display:block; 
			margin-bottom:15rem;
			margin-top:8rem;
		}

		.project-page-title {
			font-size: $l-size;
		}

		.contact-container {
			text-align: center;
			left:0;
			& :last-child {
				margin-right:0;
			}
		}

		ul {
			display:inline-block;
		}

		.metadata-container {
			display:none;
			& .metadata-info-container p {
				line-height:2rem;
				width:200px;
			}
		}
		.metadata-container__mobile {
			width: 100%;
			z-index: 2;
			border-top: 2px solid $jz-blue;
			display:flex;
			justify-content: center;
			padding:$m-size;
			bottom:0;
			left:0;
			position:absolute;
			background-color:$off-white;
			& :first-child {
				margin-right:$s-size;
			}
			& .metadata-info-container {
				width:12rem;
		
			}
		}


		.stories {
			width: 646px;
			margin:auto;
		}

		.mobile-blue {
			background-color: $jz-blue !important ;
		  }

		
	}

	@media(max-width: 712px) {
		.stories {
			width: 264px;
			margin: auto;
				& .item-preview {
				  max-width:100%;
				  max-height:100%;
				  width: 12rem !important;
				  height: 12rem !important;
				}
			  } 
		.bottom {
			width: 100vw; 
			margin-left: calc((100% - 100vw) / 2); 
		}	
	}
