// Homepage

.main-container {
  top:0;
  display:flex;
  margin:auto;
  height:100vh;
  width:100vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.left-container {
  overflow:none;
  display:flex;
  position:relative; 
  z-index:5; 
  width:50%;
  height:100vh;
  background-color: $jz_blue;
}
  
.right-container {
  width:50%;
  padding-top:5rem;
  justify-content: left;
  align-items: center;
  overflow: scroll;
}

.project-entry-container {
  margin:auto;
  margin-bottom:6rem;
  margin-left:$xl-size;
}

// Nav

.nav-container {
  position: absolute;
  top:$xl-size;
  right:$xl-size;
  z-index:100;
  overflow: hidden;
  ul a:first-child{
      margin-right:$m-size;
  }
}

// Project Pages

.project-page-container {
  display:grid;
  grid-template-columns: repeat(minmax(240px, 1fr)) !important;
  column-gap: 2rem;
  max-width: 94rem;
  margin: $xl-size auto;
  padding:0 $xl-size;
}

.project-page-content{
  grid-column-start:1;
  grid-column-end:9;
  margin-bottom: $xl-size;
}

.project-page-title, .project-page-summary {
  grid-column-start: 1;
  grid-column-end: 12;
}

.header-img{
  grid-column-start: 1;
  grid-column-end: 13;
  & img{
    width:100%;
    height:auto;  
  }
}

.header-image {
  grid-column-start:1;
  grid-column-end: 12;
  & img {
    width:100%;
    height:auto;
  }
}

.body-image {
  grid-column-start: 1;
  grid-column-end: 9;
  & img {
    width:100%;
    height:auto;
  }
}

// Metadata Component
.metadata-info-container:first-child{
  margin-bottom:$l-size;
}


.metadata-container {
  height: 0;
  grid-column-start:10;
  grid-column-end:13;
  position:sticky;
  top:5rem;
}


//Contact component

.contact-container {
  width:100%;
  position:absolute;
  bottom:$xl-size;
  left:$xl-size;
  vertical-align: bottom;
  & li {
    cursor:pointer;
    display:inline-block;
    margin-right:$s-size;
    text-decoration: underline;
  }
}

.about-container {
  position:absolute;
  display:flex;
  justify-content: left;
  align-items: center;
}

.summary {
  grid-column-start:1;
  grid-column-end:9;
  margin-bottom: $m-size;
}


// MOBILE 

.home {
  background-color:$jz-blue;
}

//Snapchat Page

.snapchat-page-container {
  display:grid;
  grid-template-columns: repeat(12, 60px [col-start]);
  column-gap: 2rem;
  max-width: 94rem;
  margin: $xl-size auto;
  padding:0 $xl-size;
}

.full-grid {
  grid-column-start: 1 !important;
  grid-column-end: 13 !important;
}


.stories.list {
  grid-column-start:1;
  grid-column-end: 13; 
  overflow:visible;
  white-space: normal;
  margin:auto;
  
  & .story  {
    display:inline-block;
    margin:0;
    
    & > .item-link > .item-preview {
      max-width:100%;
      max-height:100%;
      width: 20rem;
      height: 20rem;
    }
  } 
}

.bottom { 
  position:relative;
  width: 100%;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 13;
  left: 0;
  margin-top:5rem;
  & ul {
    margin-top:5rem;
    text-align: left;
    & li {
      margin-bottom: $s-size;
    }
  }
}

