.project-page-title {
    margin-bottom: $m-size;
}

.project-title {
	display: inline-block;
}

.project-page-summary {
	margin-bottom:$xl-size;
}

.header-img {
	margin-bottom:$xl-size;
	height: auto;
	width: 100%;
}

.header-image {
	margin-bottom: $xl-size;
}

.body-image {
	margin-bottom: $xl-size;
}

figcaption {
	padding-top: $s-size;
}
