* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
	overflow: hidden;
	height: 100%;
	font-size: 62.5%;
}

body{
  background-color: #FFFBF1;
  height:100%;
  overflow: auto;
}

.main-container {
  top:0;
  display:flex;
  margin:auto;
  height:100vh;
  width:100vw;
}


.left-container {
  z-index:10;
  display:flex;
  width:50%;
  height:100vh;
  background-color:#1ADAFF;
  justify-content: left;
  align-items: center;
}

.right-container {
  overflow:auto;
  margin-top:5rem;
  justify-content: left;
  align-items: center;
  width:50%;
}

.project-entry {
  color:#3c3c3c;
  margin:auto;
  padding-bottom:6rem;
}

.intro {
  color:#3C3C3C;
  font-size: 3.15vw;
  padding-left:40px;
  font-family: titling-gothic-fb,sans-serif;
  font-weight: 800;
  font-style: normal;
}

.project-title{
  font-size: 3.5rem;
  font-family: titling-gothic-fb,sans-serif;
  font-weight: 800;
  font-style: normal;
  padding-left:4rem;
  margin-bottom:0px;
  transition:transform .5s;
  cursor:pointer;
}

.project-title:hover {
  transform: translateX(20px);
  color:#1ADAFF;
}

.project-title::before {
z-index:0;
content:"";
height:8px;
width:0px;
top:2rem;
left:-.5rem;
position:absolute;
background-color: #3c3c3c;
transition: width .5s cubic-bezier(.215,.61,.355,1);
}

.project-title:hover::before
{
width:35px;
}


.project-info {
  padding-left:4rem;
  font-family: titling-gothic-fb, sans-serif;
  font-weight: 300;
  font-style: normal;
}


li {
  list-style-type: none;
}

.frame-border {
  z-index:11;
  background-color: #FFFBF1;
  position: fixed;
}

.frame-border-top {
  top: 0;
  left: 0;
  right: 0;
  height:10px;
}

.frame-border-right {
  top: -50px;
  right: 0;
  bottom: -50px;
  width:10px;
}

.frame-border-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  height:10px;
}

.frame-border-left {
  top: -50px;
  left: 0;
  bottom: -50px;
  width:10px;
}

p {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 2px;
}

.clickswitch {
  cursor:pointer;
}


/* NAV */
.nav-container {
  position: absolute;
  top:20px;
  right:20px;
  padding-right: 30px;
}


